@media (max-width:600px) and (min-width:200px){
 .titulo{
     font-size: 35px;
 }
}
@media (max-width:600px) and (min-width:200px){
    .text-left{
       width:10%
    }
   }
   @media (max-width:600px) and (min-width:200px){
    .selects, .filtro3{
       width:10%
    }
   }
   @media (max-width:600px) and (min-width:200px){
    option{
     font-size: 30px;
    }
   }