*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
  }

  body{
      background:url("img/lol-imagen.jpg");
      background-repeat: no-repeat;
      min-height: 100vh;
      background-size: cover;
      background-attachment: fixed;
  
  }
.titu
 
  #caja-2{
    background-color:(7,16,25);
    border-radius: 20px;
   	background-size: 50%;
	  margin-top:45px;
    margin-bottom: 100px;
    padding: 20px;
  }
  .subtitulo{
	font-size: 25px;
    color: white;
    font-weight: bold;
    font-family:FrizQuadrata;
    margin-top: 15px;
    margin-bottom:  20px;
  
  }
.parrafo{
	font-size: 16px;
    color:white;
    font-weight: bold;
    font-family: Arial;
    margin-bottom: 15px;
}
  
  .lol-world2{
    background-color: #802e2e00; 
    color:white;
    padding: 7px;
    font-family:FrizQuadrata;
    font-weight: bold;
    font-size:30px;
     border: solid white 1px;
     margin:20px 5px;
   
    
  }
  
  .body-2{
    background:url("img/fondo-fondo.jpg");
      background-repeat: no-repeat;
      min-height: 100vh;
      background-size: cover;
      background-attachment: fixed;
  }
  
  .titulo-inicio2 {
      color:rgb(243, 242, 235);
      font-family:FrizQuadrata;
      font-size:60px;
      padding: 32px;
      
  
  }
  h2{
      font-size: 30px;
      text-align: center;
      color:rgb(243, 236, 183);
  }

  .image {
    background: none;
    height:200px ;
    width: 100%;
    scroll-padding-block: 6px;
}

#board, #championBox{
flex-flow: row wrap;
display: flex;
}
#orden1,#power-type{  

background-color: #802e2e00; 
color:darkgrey;
padding: 7px;
font-family:FrizQuadrata;
font-weight: bold;
font-size:20px;
 border: solid white 1px;
 margin:20px 5px;

};
footer, p{
  padding-top: 50px;
  color: white;
  margin-bottom: 41px;  
}



